* {
  border-color: black !important;
}

.header {
  margin: 2% 0;
  text-align: center;
}

.container,
.header {
  text-align: center;
}

.clicked {
  background-color: rgb(81, 211, 172);
}

.matched {
  background-color: rgb(255, 92, 92);
}

.controlLight {
  background-color: #ccc;
}
.controlDark {
  background-color: #666;
}

.controlClicked {
  background-color: rgba(255, 92, 92, 0.267) !important;
}

tbody td {
  padding: 0.2rem !important;
  font-size: x-large;
}

.redoBtn {
  margin-right: 10px;
}

.typeSwitcher {
  text-align: left !important;
}
