* {
  border-color: black !important;
}

.container {
  text-align: center;
  top: 100%;
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  position: absolute;
  height: 80%;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(184, 247, 255) !important;
}

@media screen and (min-width: 600px) {
  .badge {
    max-width: 360px;
  }
}

body {
  height: 100%;
}

.genNumberContainer {
  position: absolute;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(184, 247, 255) !important;
}
.genNumber {
  font-size: 15vh;
}
.badge {
  width: 60%;
}
