* {
  border-color: black !important;
}

.container {
  text-align: center;
}

@media screen and (min-width: 600px) {
  .container {
    width: 600px;
    margin: 0 auto;
  }
}

tbody td {
  padding: 0rem !important;
  font-size: 7vw;
}

body {
  padding: 0 5px;
}
