.header {
  margin: 2% 0;
  padding: 0 !important;
}

.mrBtn {
  margin-right: 2%;
}

.container {
  background-color: rgb(184, 247, 255) !important;
}

@media screen and (max-width: 310px) {
  .mrBtn {
    margin-right: 1px;
  }
}

@media screen and (min-width: 600px) {
  .container {
    max-width: 600px !important;
  }
}
