.container {
  height: 80%;
}

tbody td {
  padding: 0 !important;
  font-size: 7vw;
  vertical-align: middle !important;
}

@media screen and (min-width: 600px) {
  tbody td {
    font-size: xxx-large;
  }
  .container {
    max-width: 600px;
  }
}
