.container {
  height: 80%;
  margin: auto;
}

tbody td {
  padding: 0 !important;
  font-size: 7vw;
  vertical-align: middle !important;
}

@media screen and (min-width: 600px) {
  tbody td {
    font-size: xxx-large;
  }
  .container {
    max-width: 600px;
  }
}
@media screen and (max-height: 471px) {
  tbody td {
    font-size: 5vh;
  }
}
@media screen and (max-height: 471px) {
  .spaceBottom {
    display: inline;
  }
}
@media screen and (min-height: 471px) {
  .spaceBottom {
    display: none;
  }
}
