.header {
  margin: 2% 0;
  padding: 0 !important;
}

.mrBtn {
  margin-right: 2%;
}

@media screen and (max-width: 310px) {
  .mrBtn {
    margin-right: 1px;
  }
}
.container {
  height: fit-content;
}

@media screen and (min-width: 600px) {
  .container {
    max-width: 600px !important;
  }
}

@media screen and (max-height: 471px) {
  .container {
    height: fit-content;
  }
}
