.typeSwitcher {
  text-align: left !important;
}

.container {
  padding-bottom: 1%;
  margin: auto;
  overflow: auto;
}

@media screen and (min-width: 600px) {
  tbody td {
    font-size: xxx-large;
  }
  .container {
    max-width: 480px;
  }
}

.mrBtn {
  margin-right: 2%;
}
